<div class="container">
    <div class="my-5 full-url">
        <span>Full URl: </span>
       {{url.longUrl}}
    </div>
    <div class="my-5">
        <span>Short Url: </span>
        {{url.shortUrl}}</div>
    <div class="my-5">
        <span>Date of creation: </span>
        {{url.dateOfCreation}}</div>
        <div class="my-5">
            <span>Created by user with id: </span>
            {{url.userId}}</div>
    <div class="my-5"><button class="btn btn-dark" [routerLink]="''">Back</button></div>
</div>
