<div class="container-md ">
    <div class="header">
        <span>About Agorithm</span>
    </div>
    <form>
        <div class="mb-3">
            <label for="Stage1" class="form-label">Stage 1:</label>
            <input type="text" name="stage1" class="form-control area" [value]="algorithmInfo.stage1" [(ngModel)]="algorithmInfo.stage1" id="stage1"
                aria-describedby="emailHelp">
        </div>
        <div class="mb-3">
            <label for="Stage2" class="form-label">Stage 2:</label>
            <input  type="text" name="stage2" class="form-control" [value]="algorithmInfo.stage2" [(ngModel)]="algorithmInfo.stage2" id="stage2"
                aria-describedby="emailHelp">
        </div>

        <div class="mb-3">
            <label for="Stage3" class="form-label">Stage 3:</label>
            <input type="text" name="stage3" class="form-control" [value]="algorithmInfo.stage3" [(ngModel)]="algorithmInfo.stage3" id="stage3"
                aria-describedby="emailHelp">
        </div>

        <div class="mb-3">
            <label for="Stage4" class="form-label">Stage 4:</label>
            <input type="text" name="stage4" class="form-control" [value]="algorithmInfo.stage4" [(ngModel)]="algorithmInfo.stage4" id="stage4"
                aria-describedby="emailHelp">
        </div>

        <div class="mb-3">
            <label for="Stage5" class="form-label">Stage 5:</label>
            <input type="text" name="stage4" class="form-control" [value]="algorithmInfo.stage5" [(ngModel)]="algorithmInfo.stage5" id="stage5"
                aria-describedby="emailHelp">
        </div>

        <div class="mb-3">
            <label for="Stage6" class="form-label">Stage 6:</label>
            <input type="text" name="stage5" class="form-control" [value]="algorithmInfo.stage6" [(ngModel)]="algorithmInfo.stage6" id="stage6"
                aria-describedby="emailHelp">
        </div>

        <div class="mb-3">
            <label for="Stage7" class="form-label">Stage 7:</label>
            <input type="text" name="stage6" class="form-control" [value]="algorithmInfo.stage7" [(ngModel)]="algorithmInfo.stage7" id="stage7"
                aria-describedby="emailHelp">
        </div>

        <button type="submit" name="stage7" class="btn btn-dark" *ngIf="isAdmin" (click)="onUpdate()">Submit</button>
    </form>
</div>