.container-md{
    margin-top: 4em;
    max-width: 700px;
}
.header{
    font-weight: 600;
    font-size: 32px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-bottom: 64px;  
}