.img-holder{
    height: 32px;
    width: 32px;
}

.img-holder img{
    height: auto;
    width: 100%;
    object-fit: cover;
    align-items: center;
}


th:nth-child(1),
td:nth-child(1) {
    width: 40%; 
}

th:nth-child(2),
td:nth-child(2) {
    width: 30%;
}

.table td {
    max-width: 300px; 
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.container{
    margin-top: 4em;
}

.table th, .table td {
    padding: 8px;
}

.table tr {
    border-bottom: 1px solid #dddddd; /* підкреслення рядків */
}
